.button{
	text-align: center;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	width: calc(100% - 16px*2);
	background-color: #0278FE;
	padding: 15px 20px;
	display: block;
	border-radius: 4px;
	/* transition: background-color .5s ease-in-out; */
	transition: background-color .5s ease-in-out;
	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
}


.button:hover{
	background-color: #0063D2;
}

.button_small{
	font-weight: 600;
	width: 198px;
}

.button_place{
	align-self:start;
	margin-top: 20px;
	width: auto;
}
@media (min-width: 1280px){
	.button{
		/* padding: 15px 10px; */
		width: 355px;
		font-weight: 600;
		font-size: 18px;
		line-height: 1;
		
	}
}