.button{
	text-align: center;
	font-family: "Inter";
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #fff;
	background-color: #0278FE;
	padding: 15px 21px;
	display: block;
	border-radius: 4px;
	transition: background-color .5s ease-in-out;
}

.button:hover{
	background-color: #0063D2;
}
@media (min-width: 768px){
	.button_small{
		width: 198px;
	}
}