.foto-grid{
	margin: 38px 0 auto;
	padding: 0 12px;
}
.foto-grid > div{
	width: 100%;
	height: 75vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 16px;
}

.foto-grid > div:nth-child(1){
	background-image: url("../images/__item-7.jpg");
}

.foto-grid > div:nth-child(2){
	background-image: url("../images/__item-6.jpg");
}

.foto-grid > div:nth-child(3){
	background-image: url("../images/__item-5.jpg");
}

.foto-grid > div:nth-child(4){
	background-image: url("../images/__item-4.jpg");
}

.foto-grid > div:nth-child(5){
	background-image: url("../images/__item.jpg");
}

.foto-grid > div:nth-child(6){
	background-image: url("../images/__item-1.jpg");
}

.foto-grid > div:nth-child(7){
	background-image: url("../images/__item-2.jpg");
}

.foto-grid > div:nth-child(8){
	background-image: url("../images/__item-3.jpg");
}

.foto-grid__item:last-of-type{
	margin-bottom: 0;
}

@media (min-width: 768px){
	.foto-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 264px);
		gap: 16px;
	}
	.foto-grid > div{
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-bottom: 16px;
	}

}
@media (min-width: 1280px){
	.foto-grid{
		margin: 92px 0 auto;
		padding: 0 48px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
		gap: 16px;
		object-fit: cover;
	}

	.foto-grid__item {
		margin: 0;
		height: 264px;
	}
}