
@media (min-width: 320px){
  }.logo{
  margin-bottom: 50px;
  padding-top: 20px;
}
.logo__icon {
  margin: 0 auto;
  width: 270px;
  height: 70px;
}

.logo__title > div{
  font-size: 2px;
  display: flex;
}

@media (min-width: 768px){
  .logo{
    margin-bottom: 90px;
    padding-top: 34px;

  }
  .logo__icon{
    margin-bottom: 22px;
  }
}
@media (min-width: 1280px){
  .logo{
    margin-bottom: 91px;
  }
}


