.logo{
  margin-bottom: 50px;
  padding-top: 34px;
}
.logo_icon {
  margin: 0 auto 22.45px auto;
  width: 32px;
  height: 32px;
  position: relative;

}

.logo__3 {
  position: absolute;
  left: 0;
  top: 6px;
}
.logo__2 {
  position: absolute;
  left: 11px;
  bottom: 0;
}
.logo__title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 6px;
}
.header__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__title > div{
  font-size: 2px;
  display: flex;
}
@media (min-width: 768px){
  .logo{
    margin-bottom: 90px;

  }
}


