.introduccion{
	margin: 44px 0 auto;
	width: calc(100% - 16px*2);
	padding: 0 16px;
}
.introduccion__title{
	margin: 0;
	font-family: "Inter";
	font-weight: 900;
	font-size: 32px;
	line-height: 35px;

}
.introduccion__article{
	margin-top: 9px;
	font-family: "Inter";
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;
}
.introduccion__autor{
	display: block;
	text-align: right;
	font-family: "Inter";
	font-weight: 400;
	font-size: 24px;
	line-height: 34px;
}
.introduccion__descripcion{
	margin: 0;
	font-family: "Inter";
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}
@media (min-width: 768px){
	.introduccion{
		margin-top: 55px;
	}
	.introduccion__title{
		margin: 0;
		font-family: "Inter";
		font-weight: 900;
		font-size: 54px;
		line-height: 58px;
	}
	.introduccion__article{
		line-height: 34px;
	}
	.introduccion__descripcion{
		margin-top: 32px;
	}
}
@media (min-width: 1280px){
	.introduccion{
		width: calc(100% - 148px*2);
		margin-top: 92px;
		padding: 0 148px;
	}
	.introduccion__title{
		margin: 0;
		font-family: "Inter";
		font-weight: 900;
		font-size: 54px;
		line-height: 58px;
	}
	.introduccion__article{
		width: 720px;
		font-size: 24px;
		line-height: 34px;
		margin-top: 40px;
	}
	.introduccion__descripcion{
		width: 720px;
		margin-top: 42px;
		font-size: 16px;
		margin-top: 26px;
	}
}