.introduccion{
	margin: 44px 0 auto;
	width: calc(100% - 16px*2);
	padding: 0 16px;
}
.introduccion__title{
	margin: 0;
	font-family: "Inter";
	font-weight: 900;
	font-size: 32px;
	line-height: 1.1;

}
.introduccion__subtitle{
	margin-top: 9px;
	font-family: "Inter";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.4;
}
.introduccion__autor{
	display: block;
	text-align: right;
	font-family: "Inter";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.4;
}
.introduccion__descripcion{
	margin: 0;
	font-family: "Inter";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}
@media (min-width: 768px){
	.introduccion{
		margin-top: 55px;
	}
	.introduccion__title{
		margin: 0;
		font-family: "Inter";
		font-weight: 900;
		font-size: 54px;
		line-height: 1.1;
	}
	.introduccion__article{
		line-height: 1.1;
	}
	.introduccion__descripcion{
		margin-top: 32px;
	}
}
@media (min-width: 1280px){
	.introduccion{
		width: calc(100% - 148px*2);
		margin-top: 92px;
		padding: 0 148px;
	}
	.introduccion__title{
		padding: 0;
		margin: 0;
		font-family: "Inter";
		font-weight: 900;
		font-size: 54px;
		line-height: 1.1;
	}
	.introduccion__subtitle{
		width: 720px;
		font-size: 24px;
		line-height: 1.4;
		margin: 0;
	}
	.introduccion__descripcion{
		width: 720px;
		margin-top: 32px;
		font-size: 16px;
		margin-top: 26px;
	}
}