.patria__content{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.patria__title{
  font-family: "Inter";
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  margin: 0 auto;
  text-align: center;
}
.patria__subtitle{
  font-family: "Inter";
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 60px auto 0 auto;
}

.patria__contenedor-imagen{
  margin-top: 40px;
  background-image: url(../images/kalegin-michail-179870-unsplash.jpg);
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
@media (min-width: 768px){
  .patria__title{
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
  }
  .patria__subtitle{
    margin: 100px auto 0 auto;
    font-size: 30px;
    line-height: 36px;
  }
  .patria__contenedor-imagen{
    margin-top: 70px;
    height: 480px;
  }
}
@media (min-width: 1280px){
  .patria{

  }
  .patria__title{
    width: calc(100% - 243px*2);
    margin: 0 auto;
    text-align: center;
  }
  .patria__subtitle{
    margin: 100px auto 0 auto;
    width: calc(100% - 280px*2);
    margin-top: 32px;
  }
  .patria__contenedor-imagen{
    width: 984px;
    margin: 64px 148px;
    height: 615px;
  }
}