.foto-grid{
	margin: 92px auto 0 auto;
	width: 1184px;
	height: 442px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-content: space-between;
	gap: 16px;
}

.foto-grid__item{
	width: 284px;
	height: 213px;
	object-fit:fill;
}