.visitanos{
	background-image: url("../images/visitanos-background.jpg");
	width: 100%;
	height: 254px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	transition: opacity .4s ease-in-out;
}
.visitanos__contenido{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}
.visitanos__titulo{
	margin: 0;
	width: calc(100% - 16px*2);
	font-family: Inter;
	font-weight: 900;
	font-size: 32px;
	line-height: 1.1;
	text-align: center;

}
.visitanos__subtitulo{
	width: calc(100% - 20px*2);
	font-family: Inter;
	font-weight: 400;
	font-size: 14px;
	line-height:1.1;
	text-align: center;
	margin: 16px 0 16px;
}
.visitanos__overlay{
	width: 100%;
	height: 100%;
	background-color: #2A2C2F;
	opacity: 0;
	position: absolute;
	z-index: -1;

}
.visitanos:hover .visitanos__overlay{
	opacity: .8;
	transition: opacity .5s ease-in-out;
}
@media (min-width: 768px){
	.visitanos{
		height: 746px;
		margin-top: 92px;
	}
	.visitanos__titulo{

		font-size: 72px;
		line-height: 1.1;
		margin: 0 72px;
	}
	.visitanos__subtitulo{
		width: 280px;
		margin: 32px 0;
		font-size: 18px;
		line-height: 1.2;
	}
}